@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import './reset.css';

body {
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration-line: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: grey;
}

.header {
  background-color: rgb(0, 0, 0);
  color: white;
}

.header__logo {
  width: 130px;
  height: 110px;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  list-style: none;
}

.header__menu-btn,
.header__cart-btn {
  background-color: inherit;
  color: inherit;
  border: none;
}

.header__auth-btn {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  border: none;
}

.header__list__item__login-icon {
  background-color: white;
  margin-right: 5px;
  height: 25px;
  padding: 2px;
}

.footer {
  background-color: rgb(0, 0, 0);
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-networks {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer__social-networks__item {
  margin-right: 30px;
}

.content__main-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content__main-page > h1 {
  text-align: center;
  margin-bottom: 10px;
}

.content__main-page > h3 {
  text-align: center;
  margin-bottom: 10px;
}

.content__menu {
  max-width: 880px;
  margin: auto;
}

.menu__product-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.menu__product-list__item {
  text-align: center;
  margin: 20px;
  padding: 10px;
  max-width: 250px;
  box-shadow: 5px 5px 10px rgba(0 0 0 / 10%);
}

.menu__product__img {
  width: 100%;
  height: 50%;
  margin-bottom: 15px;
}

.menu__product-list__name {
  overflow-wrap: break-word;
  font-weight: bold;
}

.menu__product-list__price {
  margin-top: 10px;
}

.menu__product-list__categories-wrap {
  margin-bottom: 10px;
}

.menu__product-list__category {
  margin-top: 10px;
  text-align: center;
}

.menu_categories {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: large;
}

.menu_categories__season-select {
  background-color: inherit;
  border: none;
  color: inherit;
}

.menu_categories__cooked-select {
  background-color: inherit;
  border: none;
  color: inherit;
}

.content__cart {
  max-width: 880px;
  margin: auto;
}

.cart__cart-list {
  list-style: none;
  margin: 10px;
}

.cart__cart-list__item {
  margin: 20px;
  padding: 20px;
  box-shadow: 2px 2px 7px rgba(0 0 0 / 10%);
}

.cart__cart-list__item__img {
  max-width: 100px;
}

.cart__cart-info {
  margin-top: 10px;
  margin-bottom: 100px;
}

.content__order {
  max-width: 880px;
  margin: auto;
}
